<div>
	<h2 class="my-4 text-center">Les marques partenaires</h2>
</div>
<div>
<img src="{{asset('assets/media/marques/marque_1.jpg')}}" alt="marque" class="img-fluid mx-3 my-2 rounded">
<img src="{{asset('assets/media/marques/marque_2.jpg')}}" alt="marque" class="img-fluid mx-3 my-2 rounded">
<img src="{{asset('assets/media/marques/marque_3.jpg')}}" alt="marque" class="img-fluid mx-3 my-2 rounded">
<img src="{{asset('assets/media/marques/marque_4.jpg')}}" alt="marque" class="img-fluid mx-3 my-2 rounded">
<img src="{{asset('assets/media/marques/marque_5.jpg')}}" alt="marque" class="img-fluid mx-3 my-2 rounded">
<img src="{{asset('assets/media/marques/marque_6.jpg')}}" alt="marque" class="img-fluid mx-3 my-2 rounded">
<img src="{{asset('assets/media/marques/marque_7.jpg')}}" alt="marque" class="img-fluid mx-3 my-2 rounded">
</div>
