<div>
	<h2 class="my-4 text-center">Produits Populaire</h2>
</div>
<div class="virtual-container-child my-5">
	<div class="virtual-wrap-slide-pop">
		<div
			class="virtual-slide-pop" id="firstvirtualpop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop" id="lastvirtualpop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="virtual-slide-pop" id="lastvirtualpop">
			{# slide1 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{# slide 2 #}
			<div class="card mb-3" style="max-width: 400px; min-width: 250px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{asset('assets/media/categories/xbox.jpg')}}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">nom produit</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
							<p class="card-text">
								<button type="btn" class="btn btn-outline-primary">prix €</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button id="virtual-next-pop">&#10095</button>
	<button id="virtual-prev-pop">&#10094</button>
</div>
